/* .box{
    height: 120px;
    width: 120px;
    background-color: blueviolet;
    animation: animasiya 2s infinite;
    position: relative;
    margin: 0;
    left: 0;
    animation-delay: .9s;
    transition: all .3s ease
}
@keyframes animasiya
{
    0%{
        left: 200px;
        background: aqua;
    }
    50%{
        left: 200px;
        top: 200px;
        background: rebeccapurple;
        transform: rotate(360deg)
    }
    100%{
        top: 0;
        left: 0;
        background: red;
        
   }

} */
/* body{
    margin: 0;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-12{
    float: left;
    border: 1px solid #000;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right:15px; 

}
.col-1{
    width: 8.333333%
}
.col-2{
width: 16.66666667%;
}
.col-3{
width: 25%;
}
.col-4{
width: 33.33333333%;
}
.col-5{
width: 41.66666667%;
}
.col-6{
width: 49.85%;    
}
.col-7{
width: 58.33333333%    
}
.col-8{
    
}
.col-9{
    
}
.col-10{
    
}
.col-11{
    
}
.col-12{
width: 100%;
}
img{
    max-width: 100%;
    max-height: 300px;
}
.info{
    background: white;
    position: relative;
    top:-55px;
    margin: 15px;
}
.info ul li{
    list-style: none;
    float: left;
    width: 50%;
    font-weight: 500;
    line-height: 35px;
    font-size: 14px; 
}
.info ul li i{
    color: blue;
}
.info ul{
    margin: 0;
    padding: 0;
}
.info .price-header{
    margin-bottom: 20px;
} */
ul li{
    list-style: none;
    padding: 10px;
}
.drop{
    display: none;
}
.drop-header:hover .drop{
    display: block;
}